@import "tailwindcss";

@font-face {
    font-family: font1;
    src: url(/fonts/Baloo2-Regular.woff);
}

@font-face {
    font-family: fontbold;
    src: url(/fonts/Baloo2-ExtraBold.woff);
}
.transition-grid {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 100;
    overflow: hidden;
}

.transition-block {
    position: absolute;
    background-color: #FC9422;
    opacity: 0;
}